<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IConsultInformation">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager"
                contract="ServidorServiciosJeopardy.IUserManager" name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendsManager"
                contract="ServidorServiciosJeopardy.IFriendsManager" name="NetTcpBinding_IFriendsManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultInformation"
                contract="ServidorServiciosJeopardy.IConsultInformation" name="NetTcpBinding_IConsultInformation" />
        </client>
    </system.serviceModel>
</configuration>