<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IConsultInformation">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_INotifyUserAvailability">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_INotifyUserActionFriendsManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyActions">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILiveChat">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameActions">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager"
                contract="ServidorServiciosJeopardy.IUserManager" name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendsManager"
                contract="ServidorServiciosJeopardy.IFriendsManager" name="NetTcpBinding_IFriendsManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultInformation"
                contract="ServidorServiciosJeopardy.IConsultInformation" name="NetTcpBinding_IConsultInformation" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotifyUserAvailability"
                contract="ServidorServiciosJeopardy.INotifyUserAvailability"
                name="NetTcpBinding_INotifyUserAvailability" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotifyUserActionFriendsManager"
                contract="ServidorServiciosJeopardy.INotifyUserActionFriendsManager"
                name="NetTcpBinding_INotifyUserActionFriendsManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyActions"
                contract="ServidorServiciosJeopardy.ILobbyActions" name="NetTcpBinding_ILobbyActions" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILiveChat"
                contract="ServidorServiciosJeopardy.ILiveChat" name="NetTcpBinding_ILiveChat" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameActions"
                contract="ServidorServiciosJeopardy.IGameActions" name="NetTcpBinding_IGameActions" />
        </client>
    </system.serviceModel>
</configuration>