<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICheckUserLivingService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICheckUserLivingUnsubscribe">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatForTeamsService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatForTeamsOperations">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendManagerService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendManagerOperations">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_INotifyAvailabilityService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_INotifyAvailabilityOperations">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyOperation">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILiveChatService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILiveChatOperations">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameOperations">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILogInVerification">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailSenderManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserCreateAccountCode">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IConsultFriends">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IConsultUserInformation">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IValidateUserExistance">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyTeamsManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyCodeAuthentication">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGuestPlayerManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRecoverPassword">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICheckUserLivingService"
                contract="ServidorServiciosJeopardy.ICheckUserLivingService"
                name="NetTcpBinding_ICheckUserLivingService" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICheckUserLivingUnsubscribe"
                contract="ServidorServiciosJeopardy.ICheckUserLivingUnsubscribe"
                name="NetTcpBinding_ICheckUserLivingUnsubscribe" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatForTeamsService"
                contract="ServidorServiciosJeopardy.IChatForTeamsService"
                name="NetTcpBinding_IChatForTeamsService" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatForTeamsOperations"
                contract="ServidorServiciosJeopardy.IChatForTeamsOperations"
                name="NetTcpBinding_IChatForTeamsOperations" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendManagerService"
                contract="ServidorServiciosJeopardy.IFriendManagerService"
                name="NetTcpBinding_IFriendManagerService" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendManagerOperations"
                contract="ServidorServiciosJeopardy.IFriendManagerOperations"
                name="NetTcpBinding_IFriendManagerOperations" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotifyAvailabilityService"
                contract="ServidorServiciosJeopardy.INotifyAvailabilityService"
                name="NetTcpBinding_INotifyAvailabilityService" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotifyAvailabilityOperations"
                contract="ServidorServiciosJeopardy.INotifyAvailabilityOperations"
                name="NetTcpBinding_INotifyAvailabilityOperations" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyService"
                contract="ServidorServiciosJeopardy.ILobbyService" name="NetTcpBinding_ILobbyService" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyOperation"
                contract="ServidorServiciosJeopardy.ILobbyOperation" name="NetTcpBinding_ILobbyOperation" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILiveChatService"
                contract="ServidorServiciosJeopardy.ILiveChatService" name="NetTcpBinding_ILiveChatService" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILiveChatOperations"
                contract="ServidorServiciosJeopardy.ILiveChatOperations" name="NetTcpBinding_ILiveChatOperations" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameService"
                contract="ServidorServiciosJeopardy.IGameService" name="NetTcpBinding_IGameService" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameOperations"
                contract="ServidorServiciosJeopardy.IGameOperations" name="NetTcpBinding_IGameOperations" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager"
                contract="ServidorServiciosJeopardy.IUserManager" name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILogInVerification"
                contract="ServidorServiciosJeopardy.ILogInVerification" name="NetTcpBinding_ILogInVerification" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailSenderManager"
                contract="ServidorServiciosJeopardy.IEmailSenderManager" name="NetTcpBinding_IEmailSenderManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserCreateAccountCode"
                contract="ServidorServiciosJeopardy.IUserCreateAccountCode"
                name="NetTcpBinding_IUserCreateAccountCode" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultFriends"
                contract="ServidorServiciosJeopardy.IConsultFriends" name="NetTcpBinding_IConsultFriends" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultUserInformation"
                contract="ServidorServiciosJeopardy.IConsultUserInformation"
                name="NetTcpBinding_IConsultUserInformation" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IValidateUserExistance"
                contract="ServidorServiciosJeopardy.IValidateUserExistance"
                name="NetTcpBinding_IValidateUserExistance" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyTeamsManager"
                contract="ServidorServiciosJeopardy.ILobbyTeamsManager" name="NetTcpBinding_ILobbyTeamsManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyCodeAuthentication"
                contract="ServidorServiciosJeopardy.ILobbyCodeAuthentication"
                name="NetTcpBinding_ILobbyCodeAuthentication" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGuestPlayerManager"
                contract="ServidorServiciosJeopardy.IGuestPlayerManager" name="NetTcpBinding_IGuestPlayerManager" />
            <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRecoverPassword"
                contract="ServidorServiciosJeopardy.IRecoverPassword" name="NetTcpBinding_IRecoverPassword" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>