<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  <bindings>
		  <netTcpBinding>
			  <binding receiveTimeout="00:10:00">
				  <security mode="None">
					  <message clientCredentialType="None" />
					  <transport clientCredentialType="None"></transport>
				  </security>
			  </binding>
		  </netTcpBinding>
	  </bindings>
    <services>		
      <service behaviorConfiguration="mexBehavior" name="JeopardyGame.Service.ServiceImplementation.ServicesReferenceAuthor">
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.ICheckUserLiving" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IChatForTeamsOperations" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IFriendManagerActionOperations" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.ICheckUserLivingUnsubscribe" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IUserManager" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.ILogInVerification" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IEmailSenderManager" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IUserCreateAccountCode" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IChatForTeams" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IConsultFriends" />
	    <endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IConsultUserInformation" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.INotifyUserAvailability" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IAvailabilityUserManagment" />
	    <endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IFriendManagerActions" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IValidateUserExistance" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.ILobbyActions" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.ILobbyActionsOperation" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.ILiveChat" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.ILiveChatOperations" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IGameActions" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IGameActionsOperations" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.ILobbyCodeAuthentication" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IGuestPlayerManager" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IRecoverPassword" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IHeartBeat" />
		<host>
		  <baseAddresses>
            <add baseAddress="http://192.168.173.1:8082" />
            <add baseAddress="net.tcp://192.168.173.1:8081" />
          </baseAddresses>
        </host>
      </service>	
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
	<connectionStrings>
		<add name="JeopardyDBContainer" connectionString="%JEOPARDY_DB_CONNECTION_STRING%" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>	  
  </runtime>
</configuration>