<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>
		<add name="JeopardyDBContainer" connectionString="metadata=res://*/JeopardyDB.csdl|res://*/JeopardyDB.ssdl|res://*/JeopardyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS01;initial catalog=Jeopardy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  <bindings>
		  <netTcpBinding>
			  <binding>
				  <security mode="None">
					  <message clientCredentialType="None"/>
					  <transport clientCredentialType="None"></transport>
				  </security>
			  </binding>
		  </netTcpBinding>
	  </bindings>
    <services>		
      <service behaviorConfiguration="mexBehavior" name="JeopardyGame.Service.ServiceImplementation.ServicesReferenceAuthor">
        <endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IUserManager" />
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IFriendsManager"/>
	    <endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.IConsultInformation"/>
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.INotifyUserAvailability"/>
	    <endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.INotifyUserActionFriendsManager"/>
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.ILobbyActions"/>
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesServices.ILiveChat"/>
		<endpoint address="JeopardyGame.Service" binding="netTcpBinding" bindingConfiguration="" contract="JeopardyGame.Service.InterfacesSevices.IGameActions"/>
		<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082" />
            <add baseAddress="net.tcp://localhost:8081" />
          </baseAddresses>
        </host>
      </service>
	

	
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>