<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="JeopardyDBContainer" connectionString="%JEOPARDY_DB_CONNECTION_STRING%" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.131" newVersion="6.8.0.131" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.22.0" newVersion="3.1.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.22.0" newVersion="3.1.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.22.0" newVersion="3.1.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.22.0" newVersion="3.1.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
	  
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICheckUserLivingService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICheckUserLivingUnsubscribe">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChatForTeamsService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChatForTeamsOperations">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IFriendManagerService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IFriendManagerOperations">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_INotifyAvailabilityService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_INotifyAvailabilityOperations">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILobbyService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILobbyOperation">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILiveChatService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILiveChatOperations">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGameService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGameOperations">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IUserManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILogInVerification">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IEmailSenderManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IUserCreateAccountCode">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IConsultFriends">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IConsultUserInformation">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IValidateUserExistance">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILobbyTeamsManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ILobbyCodeAuthentication">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGuestPlayerManager">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRecoverPassword">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICheckUserLivingService"
        contract="TestServerJeopardy.ICheckUserLivingService" name="NetTcpBinding_ICheckUserLivingService" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICheckUserLivingUnsubscribe"
        contract="TestServerJeopardy.ICheckUserLivingUnsubscribe" name="NetTcpBinding_ICheckUserLivingUnsubscribe" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatForTeamsService"
        contract="TestServerJeopardy.IChatForTeamsService" name="NetTcpBinding_IChatForTeamsService" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatForTeamsOperations"
        contract="TestServerJeopardy.IChatForTeamsOperations" name="NetTcpBinding_IChatForTeamsOperations" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendManagerService"
        contract="TestServerJeopardy.IFriendManagerService" name="NetTcpBinding_IFriendManagerService" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendManagerOperations"
        contract="TestServerJeopardy.IFriendManagerOperations" name="NetTcpBinding_IFriendManagerOperations" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotifyAvailabilityService"
        contract="TestServerJeopardy.INotifyAvailabilityService" name="NetTcpBinding_INotifyAvailabilityService" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INotifyAvailabilityOperations"
        contract="TestServerJeopardy.INotifyAvailabilityOperations"
        name="NetTcpBinding_INotifyAvailabilityOperations" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyService"
        contract="TestServerJeopardy.ILobbyService" name="NetTcpBinding_ILobbyService" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyOperation"
        contract="TestServerJeopardy.ILobbyOperation" name="NetTcpBinding_ILobbyOperation" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILiveChatService"
        contract="TestServerJeopardy.ILiveChatService" name="NetTcpBinding_ILiveChatService" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILiveChatOperations"
        contract="TestServerJeopardy.ILiveChatOperations" name="NetTcpBinding_ILiveChatOperations" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameService"
        contract="TestServerJeopardy.IGameService" name="NetTcpBinding_IGameService" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameOperations"
        contract="TestServerJeopardy.IGameOperations" name="NetTcpBinding_IGameOperations" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManager"
        contract="TestServerJeopardy.IUserManager" name="NetTcpBinding_IUserManager" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILogInVerification"
        contract="TestServerJeopardy.ILogInVerification" name="NetTcpBinding_ILogInVerification" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailSenderManager"
        contract="TestServerJeopardy.IEmailSenderManager" name="NetTcpBinding_IEmailSenderManager" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserCreateAccountCode"
        contract="TestServerJeopardy.IUserCreateAccountCode" name="NetTcpBinding_IUserCreateAccountCode" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultFriends"
        contract="TestServerJeopardy.IConsultFriends" name="NetTcpBinding_IConsultFriends" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultUserInformation"
        contract="TestServerJeopardy.IConsultUserInformation" name="NetTcpBinding_IConsultUserInformation" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IValidateUserExistance"
        contract="TestServerJeopardy.IValidateUserExistance" name="NetTcpBinding_IValidateUserExistance" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyTeamsManager"
        contract="TestServerJeopardy.ILobbyTeamsManager" name="NetTcpBinding_ILobbyTeamsManager" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyCodeAuthentication"
        contract="TestServerJeopardy.ILobbyCodeAuthentication" name="NetTcpBinding_ILobbyCodeAuthentication" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGuestPlayerManager"
        contract="TestServerJeopardy.IGuestPlayerManager" name="NetTcpBinding_IGuestPlayerManager" />
      <endpoint address="net.tcp://localhost:8081/JeopardyGame.Service"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRecoverPassword"
        contract="TestServerJeopardy.IRecoverPassword" name="NetTcpBinding_IRecoverPassword" />
    </client>
  </system.serviceModel>
</configuration>